<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
  Colegio Winterfell
  <div class='col-md-2' style="margin-left: 60%;">Filtrar por: <input type='text'></div>
  <img ng-click="D:\Colegio-Winterfell-1.0-master\frontend\HouseStark"> 
</mat-toolbar>
<mat-toolbar>
  <div>
    <h1>
        <mat-toolbar>
            <button mat-raised-button routerLink="/subjects">Materias</button>
        </mat-toolbar>
    </h1>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>



