<mat-toolbar color="primary">
    <mat-card-header>
        <mat-card-title>
            <h4>
                Agregar Tareas
            </h4>
        </mat-card-title>
    </mat-card-header>
</mat-toolbar>


<div class="example-container">
    <form>
        <mat-card>
            <mat-form-field>
                <mat-select placeholder="Materia" [(ngModel)]="subjectName" name="subject" required>
                    <mat-option>-- Ninguno --</mat-option>
                    <mat-optgroup *ngFor="let course of apiService.courses" [label]="'Curso '+ course.courseName" [disabled]="false">
                        <mat-option *ngFor="let subject of course.subjects" [value]="course.courseName+'>'+subject.subjectName">
                            {{subject.subjectName}}
                        </mat-option>
                    </mat-optgroup>
                </mat-select>
            </mat-form-field>
        </mat-card>
        <mat-card>
            <mat-form-field>
                <input matInput placeholder="Nombre" [(ngModel)]="taskData.taskName" name="taskName" required>
            </mat-form-field>
        </mat-card>

        <mat-card>
            <mat-form-field>
                <input matInput placeholder="Descripción" [(ngModel)]="taskData.description" name="description" required>
            </mat-form-field>
        </mat-card>

        <mat-card>
            <mat-form-field>
                <input matInput placeholder="Enlace de apoyo" [(ngModel)]="taskData.archivo" name="archivo">
            </mat-form-field>
        </mat-card>
        <mat-card>
            <mat-form-field>
                <input matInput [min]="minDate" [matDatepicker]="picker" placeholder="Elegir una fecha" [(ngModel)]="taskData.date" name="date" required >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>

            </mat-form-field>
        </mat-card>
        <mat-card>
            <button mat-raised-button (click)="post()" >Agregar Tarea</button>
        </mat-card>
        <p>{{taskLabel}}</p>
    </form>
</div>